<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/theme.css') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='img/Logo.jpg') }}"
      type="image/x-icon"
    />

    <title>Bahay Aruga</title>
  </head>
  <body>
    <section id="dashboard">
        <div class="wrapper">
            <div class="dashboard-con">
                
            </div>
        </div>
    </section>
  </body>
</html>
