<section id="header">
    <div class="wrapper">
      <div class="header-con">
        <ul class="navbar">
          <li>
            <a href="{{ url_for('.patient_dashboard') }}">Home</a>
          </li>
          <li>
            <a href="#services">Services</a>
          </li>
          <li>
            <a href="#about">About Us</a>
          </li>
          <li>
            <a href="#gallery">Gallery</a>
          </li>
          <li>
            <a href="">
              <div class="logo-nav">
                <img
                  src="{{ url_for('static', filename='img/Logo-nobg.png') }}"
                  class="logo"
                  alt="Logo"
                />
                <span>Bahay Aruga</span>
              </div>
            </a>
          </li>
          <li>
            <a href="#contact">Contact Us</a>
          </li>
          <li>
            <a href="#">Wellness Plan</a>
          </li>
          <li>
            <a href="{{ url_for('.patient_schedule') }}">Schedule</a>
          </li>
          <li>
            <a href="{{ url_for('.login_page') }}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </section>