<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WELLNESS PLAN</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/Logo-nobg.png') }}" type="image/x-icon" />
  <style>
    .contents {
      display: grid;
      grid-template-columns: 1fr; /* One column */
      gap: 20px; /* Adjust the gap between rows */
      margin: 10%;
    }

    .content {
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 15px;
      background-color: #ffa100;
      margin-bottom: 20px; /* Adjust the bottom margin to create space between sections */
    }

    .choices {
      display: grid;
      grid-template-columns: 1fr 1fr; /* One column */
      gap: 10px; /* Adjust the gap between elements */
    }

    .choices input[type="checkbox"] {
      margin-right: 5px; /* Adjust spacing between checkbox and label */
    }

    ul {
      list-style-type: none; /* Remove default list styles */
      padding: 0;
    }

    ul li {
      margin-bottom: 5px; /* Adjust margin between list items */
    }

    body {
      display: grid;
      align-items: center;
      background-image: url("{{ url_for('static', filename='img/wellnessplan_bg.png') }}"); /* Replace with your image path */
      background-size: cover; /* Ensures the background image covers the entire div */
      background-position: center; /* Centers the background image */
    }
  </style>

</head>
<body>
  <section id="header">
    <div class="wrapper">
      <div class="header-con">
        <ul class="navbar">
          <li>
            <div class="logo-nav" onclick="toggleMenu()">
              <img src="{{ url_for('static', filename='img/hamburger_menu.png') }}" class="logo" alt="Logo" />
            </div>
          </li>
          <li><a href="#account">Account</a></li>
          <li>
            <a href="#">
              <div class="logo-nav">
                <img src="{{ url_for('static', filename='img/Logo-nobg.png') }}" class="logo" alt="Logo" />
                <span>Bahay Aruga</span>
              </div>
            </a>
          </li>
          <li><a href="#schedule_slot">Schedule a Slot</a></li>
          <li>
            <a href="{{ url_for('.index') }}" style="display: flex; flex-direction: column; align-items: center;">
              <img src="{{ url_for('static', filename='img/logout_icon.png') }}" alt="Logout Icon" style="width: 25px; height: auto; margin-bottom: 5px" />
              Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <script>
    function toggleMenu() {
      console.log('Menu toggled');
    }
  </script>

  <div class="contents">
    <form method="POST" action="{{ url_for('.patient_completed') }}">
      <div class="content">
        <h2>Wellness Plan</h2>
        <div class="choices">
          {% if age|int in range(1, 7) and diagnosis == 'Brain tumor' %}
            <div>
              <input type="checkbox" id="exercise_input" name="exercise_input">
              <label for="exercise">EXERCISE (Age 1-6)</label><br>
              <p>No Exercises</p>
            </div>
            <div class="choices">
              <input type="checkbox" id="medicine_input" name="medicine_input">
              <label for="medicine">MEDICINE (Age 1-6)</label><br>
              <p>BIOGESIC</p>
            </div>
          {% elif age|int in range(7, 19) and diagnosis == 'Brain tumor' %}
            <div>
              <input type="checkbox" id="exercise_input" name="exercise_input">
              <label for="exercise">EXERCISE (Age 7-18)</label><br>
              <p>WALKING</p>
            </div>
            <div class="choices">
              <input type="checkbox" id="medicine_input" name="medicine_input">
              <label for="medicine">MEDICINE (Age 7-18)</label><br>
              <p>PREDNIZOLE</p>
            </div>
          {% elif age|int in range(1, 7) and diagnosis == 'Osteosarcoma' %}
            <div>
              <input type="checkbox" id="exercise_input" name="exercise_input">
              <label for="exercise">EXERCISE (Age 1-6)</label><br>
              <p>No Exercises</p>
            </div>
            <div class="choices">
              <input type="checkbox" id="medicine_input" name="medicine_input">
              <label for="medicine">MEDICINE (Age 1-6)</label><br>
              <p>METHOTREXATE</p>
            </div>
          {% elif age|int in range(7, 19) and diagnosis == 'Osteosarcoma' %}
            <div>
              <input type="checkbox" id="exercise_input" name="exercise_input">
              <label for="exercise">EXERCISE (Age 7-18)</label><br>
              <p>RUNNING</p>
            </div>
            <div class="choices">
              <input type="checkbox" id="medicine_input" name="medicine_input">
              <label for="medicine">MEDICINE (Age 7-18)</label><br>
              <p>NEOZEP</p>
            </div>
          {% elif age|int in range(1, 7) and diagnosis == 'Acute Lymphoblastic Leukemia' %}
            <div>
              <input type="checkbox" id="exercise_input" name="exercise_input">
              <label for="exercise">EXERCISE (Age 1-6)</label><br>
              <p>No Exercises</p>
            </div>
            <div class="choices">
              <input type="checkbox" id="medicine_input" name="medicine_input">
              <label for="medicine">MEDICINE (Age 1-6)</label><br>
              <p>METHOTREXATE</p>
            </div>
          {% elif age|int in range(7, 19) and diagnosis == 'Acute Lymphoblastic Leukemia' %}
            <div>
              <input type="checkbox" id="exercise_input" name="exercise_input">
              <label for="exercise">EXERCISE (Age 7-18)</label><br>
              <p>RUNNING</p>
            </div>
            <div class="choices">
              <input type="checkbox" id="medicine_input" name="medicine_input">
              <label for="medicine">MEDICINE (Age 7-18)</label><br>
              <p>NEOZEP</p>
            </div>
          {% else %}
            <!-- Render something else if the condition is not met -->
          {% endif %}
        </div>
      </div>

      <div class="content">
        <h2>Food Restriction</h2>
        {% if age|int in range(1, 6) and diagnosis == 'Brain tumor' %}
          <p>CEREAL, MILK</p>
        {% elif age|int in range(7, 18) and diagnosis == 'Brain tumor' %}
          <p>VEGETABLE, WHITE MEAT, PROTEIN</p>
        {% elif age|int in range(1, 6) and diagnosis == 'Osteosarcoma' %}
          <p>FRUITS, DAIRY PRODUCTS</p>
        {% elif age|int in range(7, 18) and diagnosis == 'Osteosarcoma' %}
          <p>GREEN, BEANS, RICE</p>
        {% elif age|int in range(1, 6) and diagnosis == 'Osteosarcoma' %}
          <p>FRUITS, DAIRY PRODUCTS</p>
        {% elif age|int in range(7, 18) and diagnosis == 'Osteosarcoma' %}
          <p>GREEN, BEANS, RICE</p>
        {% else %}
          <!-- Render something else if the condition is not met -->
        {% endif %}
      </div>

      <div class="content">
        <h2>Reminder</h2>
        {% if age|int in range(1, 6) and diagnosis == 'Brain tumor' %}
          <p>ALAGAAN NG MABUTI</p>
        {% elif age|int in range(7, 18) and diagnosis == 'Brain tumor' %}
          <p>ALALAYAN SA MGA GAMOT NA DAPAT ITAKE</p>
        {% elif age|int in range(1, 6) and diagnosis == 'Osteosarcoma' %}
          <p>Manage the diet well</p>
        {% elif age|int in range(6, 18) and diagnosis == 'Osteosarcoma' %}
          <p>Eat healthy, exercise regularly</p>
        {% elif age|int in range(1, 6) and diagnosis == 'Acute Lymphoblastic Leukemia' %}
          <p>Manage the diet well</p>
        {% elif age|int in range(7, 18) and diagnosis == 'Acute Lymphoblastic Leukemia' %}
          <p>Eat healthy, exercise regularly</p>
        {% else %}
          <!-- Render something else if the condition is not met -->
        {% endif %}
      </div>

      <div class="content">
        <div class="field-con">
          <label for="comment">Comment</label>
          <textarea id="comment" name="comment" rows="4" required></textarea>
        </div>

        <div class="btn-con">
          <button class="btn-primary" type="submit">SUBMIT</button>
        </div>
      </div>
    </form>
  </div>
</body>
</html>
