<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/theme.css') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='img/Logo.jpg') }}"
      type="image/x-icon"
    />
    <style>
      #header .navbar li:nth-child(3) {
        margin: 0;
      }

      #header .logo-nav {
        left: 42.5%;
      }
    </style>

    <title>Bahay Aruga</title>
  </head>
  <body>
    {% include 'patient/header.html' %}
    <section id="schedule">
      <div class="wrapper">
        <div class="schedule-con">
          <form action="/patient/save" method="POST">
            <h2>Hello, Name!</h2>
            <div class="field-con">
              <label for="age">Age</label>
              <input type="number" name="age" required />
            </div>
            <div class="field-con">
              <label for="sex">Sex</label>
              <select name="sex">
                <option value="" selected hidden disabled>Select Sex</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Prefer not to say">Prefer not to say</option>
              </select>
            </div>
            <div class="field-con">
              <label for="type">Type</label>
              <input type="text" name="type" required />
            </div>
            <div class="btn-con">
              <button class="btn-primary">SUBMIT</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
